body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

#logo{
    background:#1F87C5;
}

#menu ul li:hover{
    background:#1F87C5;
}

.button-more{
    background:#1F87C5;
}